/*main styles*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

hr {
    border: none;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.container {
    width: 100%;
    margin: auto;
}

.row {
    width: 598px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.663%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

/*header*/
header {
    width: 100%;
    padding-bottom: 50px;
    background: url("img/header.jpg") no-repeat;
    background-size: 100%;
}

.header-logo {
    margin: auto;
    text-align: center;
}

.header-logo p {
    font-family: Belinda;
    color: white;
    font-size: 52px;
    font-weight: bold;
    padding: 65px 0px 0px 0px;
}

.header-nav {
    margin: 65px auto;
}

.header-nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-nav-menu li {
    list-style-type: none;
    margin-right: 50px;
}

.header-nav-menu li a {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.header-main-slogan {
    margin: 20px auto;
}

.header-main-slogan p {
    text-align: center;
    color: white;
    font-family: Ubuntu, sans-serif;
    font-size: 53px;
    text-transform: uppercase;
}

.header-hr {
    background-color: rgba(255, 255, 255, 0.24);
    width: 101px;
    height: 2px;
    margin-top: 10px;
}

.header-sub-slogan {
    margin: 30px auto;
    display: flex;
    justify-content: space-around;
}

.header-sub-slogan p {
    font-family: "PT Sans", sans-serif;
    color: white;
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
}

.header-button {
    margin: auto;
}

.header-button button {
    border-radius: 25px;
    height: 48px;
    width: 235px;
    border: none;
    font-size: 15px;
    font-family: "PT Sans", sans-serif;
    font-weight: bold;
    background-color: #50c3af;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

.header-button button a {
    text-decoration: none;
    color: white;
    font-family: "PT Sans", sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
}

/*icons-top*/

.icons-top {
    padding-top: 50px;
    background-color: rgba(234, 234, 235, 0.6);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.icons-top__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 95%;
}

.icons-top__item {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icons-top__img img {
    margin-bottom: 20px;
}

.man {
    width: 43px;
    height: 31px;
}

.heart {
    width: 38px;
    height: 35px;
}

#headphones {
    width: 39px;
    height: 42px;
    margin-bottom: 13px;
}

.icon-top__slogan {
    margin-bottom: 20px;
}

.icon-top__slogan p {
    font-family: "PT Sans", sans-serif;
    color: #40474e;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
}

.icon-top__text {
    margin-top: 25px;
    margin-bottom: 38px;
    font-size: 14px;
    font-family: "PT Sans", sans-serif;
    color: #787b80;
}

.icons-top__hr {
    background-color: rgba(41, 49, 57, 0.06);
    width: 135px;
    height: 2px;
    opacity: 0.3;
    margin-left: 20px;
}

/*two-pictures*/

.two-pictures {
    background-color: #f5f5f5;
    width: 100%;
}

.two-pictures__wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: nowrap;
}

.two-pictures__item {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
}

.two-pictures__slogan {
    margin-top: 42px;
    margin-bottom: 21px;
    font-family: "PT Sans", sans-serif;
    color: #40474e;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-align: right;
    text-transform: uppercase;
}



.two-pictures__hr {
    background-color: rgba(41, 49, 57, 0.06);
    width: 263px;
    height: 2px;
    opacity: 0.3;
}

.two-pictures__text p {
    margin-top: 25px;
    margin-bottom: 38px;
    font-size: 14px;
    font-family: "PT Sans", sans-serif;
    color: #787b80;
}

.two-pictures__button button {
    background-color: #50c3af;
    padding: 0 17px;
    height: 35px;
    border-radius: 20px;
    border: 0px;
    font-family: 'PT Sans', sans-serif;
    color: #f5f5f5;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: right;
}


/*article*/
article {
    width: 100%;
    background-color: rgba(234, 234, 235, 0.6);
    padding-bottom: 60px;
}

.article-wrapper {
    margin-top: 50px;
}

.article__img {
    float: left;
}

.article__slogan {
    color: #384048;
    font-size: 18px;
    font-family: "PT Sans", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 50px;
}

.article__hr {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgba(41, 49, 57, 0.06);
    width: 363px;
    height: 2px;
    opacity: 0.3;
}

.article__paragraph {
    text-align: left;
    font-family: "PT Sans", sans-serif;
    color: #787b80;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.article__button {
    margin-top: 38px;
}

.article__button button {
    font-family: "PT Sans", sans-serif;
    color: #f5f5f5;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    background-color: #d2d5da;
    width: 98px;
    height: 35px;
    border-radius: 20px;
    border: none;
}

/*three-pictures*/
.three-pictures {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 70px;
}

.three-pictures__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

.three-pictures__item {
    text-align: left;
}

.three-pictures__img {
    margin-bottom: 41px;
}

.three-pictures__slogan p {
    margin-bottom: 20px;
    font-family: "PT Sans", sans-serif;
    color: #40474e;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
}

.three-pictures__hr {
    background-color: rgba(41, 49, 57, 0.06);
    width: 182px;
    height: 2px;
    margin-bottom: 26px;
}

.three-pictures__text {
    margin-bottom: 28px;
    font-family: "PT Sans", sans-serif;
    color: #787b80;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.three-pictures__link a {
    font-family: "PT Sans", sans-serif;
    color: #50c3af;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: right;
}

/*two-articles*/
.two-articles {
    width: 100%;
    background-color: rgba(234, 234, 235, 0.6);
    padding-top: 66px;
    padding-bottom: 60px;
}

.two-articles__item {
    text-align: left;
}

.two-articles__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    width: 100%;
}


.two-articles__icon {
    float: left;
}

.two-articles__slogan {
    font-family: "PT Sans", sans-serif;
    color: #40474e;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-align: right;
    margin-bottom: 19px;
    text-transform: uppercase;
}

.move-right {
    margin-right: 105px;
}

.move-right_2 {
    margin-right: 75px;
}

.two-articles__button button {
    background-color: #50c3af;
    padding: 0 17px;
    height: 35px;
    border-radius: 20px;
    border: 0px;
    font-family: 'PT Sans', sans-serif;
    color: #f5f5f5;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: right;

}

.two-articles__hr {
    margin-bottom: 28px;
    background-color: rgba(41, 49, 57, 0.06);
    width: 251px;
    height: 2px;
}

.two-articles__text {
    font-family: "PT Sans", sans-serif;
    color: #787b80;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 36px;
}

/*celebreties*/
.celebrities {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 62px;
}

.celebrities__slogan {
    width: 105%;
}

.celebrities__slogan p {
    font-family: "PT Sans", sans-serif;
    color: #40474e;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    text-transform: uppercase;
}

.celebrities__text p {
    font-family: "PT Sans", sans-serif;
    color: #787b80;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.celebrities__img {
    margin-right: 20px;
}

.celebrities__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    width: 100%;
}

.celebrities-content__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
    width: 50%;
}

.celebrities__hr {
    background-color: rgba(41, 49, 57, 0.06);
    width: 263px;
    height: 2px;
    opacity: 0.3;
}

.celebrities__button button {
    font-family: "PT Sans", sans-serif;
    color: #f5f5f5;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    background-color: #d2d5da;
    width: 98px;
    height: 35px;
    border-radius: 20px;
    border: none;
}

/*before-footer*/
.before-footer {
    width: 100%;
    background-color: #50c3af;
    padding-top: 60px;
    padding-bottom: 65px;
}

.before-footer__wrapper {
    width: 100%;
}

.before-footer__top-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 22px;
}

.before-footer__hr {
    margin-bottom: 30px;
    background-color: rgba(245, 245, 245, 0.1);
    width: 251px;
    height: 2px;
    margin-left: 180px;
}

.before-footer__img {
    margin-right: 8px;
}

.before-footer__slogan {
    font-family: "PT Sans", sans-serif;
    color: white;
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    text-align: right;
    text-transform: uppercase;
}

.before-footer__content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    width: 100%;
}

.before-footer__content-wrapper p:nth-child(1) {
    font-family: "Belinda", sans-serif;
    color: rgba(255, 255, 255, 0.24);
    font-size: 26px;
    font-weight: 400;
    line-height: 24px;
    text-align: right;
}

.before-footer__content-wrapper p:nth-child(2) {
    font-family: NexaRegular;
    color: rgba(255, 255, 255, 0.24);
    font-size: 26px;
    font-weight: 400;
    line-height: 24px;
    text-align: right;
}

.before-footer__content-wrapper p:nth-child(3) {
    font-family: "Cabin", sans-serif;
    color: rgba(255, 255, 255, 0.24);
    font-size: 26px;
    font-weight: 400;
    line-height: 24px;
    text-align: right;
}

.before-footer__content-wrapper p:nth-child(4) {
    font-family: NexaHeavy;
    color: rgba(255, 255, 255, 0.24);
    font-size: 26px;
    font-weight: 400;
    line-height: 24px;
    text-align: right;
}

/*footer*/
footer {
    padding-bottom: 30px;
    padding-top: 30px;
    width: 100%;
}
.footer__wrapper {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-direction: row;
    text-align: center;
    width: 100%;
}

.footer__content {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.footer__content p {
    font-family: "PT Sans", sans-serif;
    color: #787b80;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    text-align: right;
}

.footer__content a {
    text-decoration: none;
    color: #787b80;
}

.footer__icons a {
    margin-right: 15px;
    vertical-align: middle;
}
