@media (min-width: 768px) and (max-width: 1024px) {
  .row {
    width: 100%;
  }
  .header__main-slogan {
    top: 60vh;
    font-size: 30px;
  }
  .header__sub-slogan {
    left: 125px;
  }
  /* .header__after{
      top:62.5%;
  } */
  .grid__item-img__users {
    margin-left: 300px;
  }
  .item-second__second-p {
    margin-top: 7%;
    margin-left: 35%;
  }

  .triangles {
    bottom: -389px;
  }
  .red-triangle {
    top: 375px;
  }

  .footer__form {
    margin-left: 5%;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .row {
    width: 100%;
  }
  .header {
    min-height: 276px;
  }

  .header-top__wrapper {
    width: 100%;
    margin-right: 14%;
    margin-bottom: 20px;
  }

  .header__wrapper {
    flex-wrap: wrap;
  }

  .header__nav {
    margin: auto;
    width: 100%;
  }

  .header__nav-ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 33%;
    margin: 0 auto;
  }

  .header__nav-ul li {
    display: block;
    width: 100%;
  }

  .header__nav-ul li a {
    margin-bottom: 10px;
  }

  .header__main-slogan {
    display: none;
  }
  .header__after {
    top: 161px;
  }

  .article__wrapper {
    padding-bottom: 0;
    flex-wrap: wrap;
  }

  .article__wrapper-item {
    width: 40%;
    text-align: left;
    margin: 0 auto;
    padding-bottom: 50px;
  }
  .article__wrapper-item:last-child {
    margin: auto;
  }
  .item__header {
    line-height: 24px;
    margin-bottom: 10px;
  }

  .item__paragraph {
    margin-bottom: 10px;
  }

  .grid__item-img {
    display: none;
  }

  .grid-item__content {
    text-align: center;
    width: 100%;
    padding-bottom: 30px;
  }

  .grid-second__item-img {
    display: none;
  }

  .first-row__item-first {
    display: none;
  }

  .first-row__item-second {
    display: none;
  }

  .section__second-row {
    flex-wrap: wrap;
  }

  .second-row__item-first {
    padding-top: 20px;
    width: 100%;
    background-color: #ffffff;
    text-align: center;
  }

  .second-row__item-second {
    width: 80%;
    background-color: #a2ca28;
    text-align: left;
    margin: auto;
  }

  .second-row__item-second__slogan p {
    line-height: 1;
  }
  .second-row__item-first__sub-slogan img {
    position: relative;
    left: 14%;
  }
  .img-wrapper__first-img,
  .img-wrapper__second-img {
    display: none;
  }

  .section-last__content-wrapper {
    flex-wrap: wrap;
  }
  .content-wrapper__first-article {
    width: 80%;
    margin: auto;
  }
  .first-article__img {
    bottom: 425px;
    left: 90%;
  }
  .first-article__sub-slogan {
    font-size: 25px;
  }
  .first-article__sub-slogan img {
    margin-left: 50px;
  }

  .content-wrapper__second-article {
    width: 80%;
    margin: auto;
    display: flex;
  }
  .second-article__img {
    position: relative;
    bottom: 205px;
    left: 90%;
  }
  .big-picture {
    min-height: 300px;
    padding-bottom: 20px;
  }
  .big-picture__slogan {
    margin-top: 30px;
    font-size: 20px;
  }
  .big-picture__p {
    font-size: 12px;
    line-height: 20px;
  }
  .big_picture__after,
  .big-picture__after-red {
    display: none;
  }

  .triangles {
    bottom: -338px;
  }
  .red-triangle {
    top: 370px;
  }

  .footer__wrapper {
    flex-wrap: wrap;
  }
  .wrapper__item {
    padding: 30px;
    width: 90%;
    text-align: center;
    margin: auto;
  }

  .wrapper__item-icons {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
  }
  .wrapper__item-icons a {
    margin-left: 22%;
    margin-bottom: 15px;
  }
  .wrapper__item-icons a:last-child {
    margin-right: 0;
  }

  .footer__form {
    width: 60%;
    margin: auto;
  }
  input[type="text"],
  input[type="email"],
  .button {
    padding: 9px;
    width: 100%;
    margin-bottom: 20px;
  }
}

@media (min-width: 300px) and (max-width: 480px) {
  .row {
    width: 100%;
  }
  .header {
    min-height: 276px;
  }

  .header-top__wrapper {
    width: 100%;
    margin-right: 14%;
    margin-bottom: 20px;
  }

  .header__wrapper {
    flex-wrap: wrap;
  }

  .header__nav {
    margin: auto;
    width: 100%;
  }

  .header__nav-ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 33%;
    margin: 0 auto;
  }

  .header__nav-ul li {
    display: block;
    width: 100%;
  }

  .header__nav-ul li a {
    margin-bottom: 10px;
  }

  .header__main-slogan {
    display: none;
  }
  .header__after {
    top: 161px;
  }

  .article__wrapper {
    padding-bottom: 0;
    flex-wrap: wrap;
  }

  .article__wrapper-item {
    width: 80%;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 50px;
  }
  .article__wrapper-item:last-child {
    margin: auto;
  }

  .item__img {
    margin: 0 auto;
  }

  .item__header {
    margin-bottom: 10px;
  }

  .item__paragraph {
    margin-bottom: 10px;
  }

  .grid__item-img {
    display: none;
  }

  .grid-item__content {
    text-align: center;
    width: 100%;
    padding-bottom: 30px;
  }

  .grid-second__item-img {
    display: none;
  }

  .first-row__item-first {
    display: none;
  }

  .first-row__item-second {
    display: none;
  }

  .section__second-row {
    flex-wrap: wrap;
  }

  .second-row__item-first {
    padding-top: 20px;
    width: 100%;
    background-color: #ffffff;
    text-align: center;
  }

  .second-row__item-second {
    width: 80%;
    background-color: #a2ca28;
    text-align: center;
    margin: auto;
  }

  .second-row__item-second__slogan p {
    line-height: 1;
  }
  .img-wrapper__first-img,
  .img-wrapper__second-img {
    display: none;
  }
  .second-row__item-first__img {
    left: 90%;
  }

  .section-last__content-wrapper {
    flex-wrap: wrap;
  }
  .content-wrapper__first-article {
    width: 80%;
    margin: auto;
  }
  .first-article__img {
    bottom: 300px;
    left: 100%;
  }
  .first-article__sub-slogan {
    font-size: 25px;
  }
  .first-article__sub-slogan img {
    margin-left: 180px;
    margin-top: -122px;
  }

  .content-wrapper__second-article {
    width: 80%;
    margin: auto;
    display: flex;
  }
  .second-article__img {
    bottom: 300px;
    left: 90%;
  }

  .big-picture {
    min-height: 300px;
    padding-bottom: 20px;
  }
  .big-picture__slogan {
    margin-top: 30px;
    font-size: 20px;
  }
  .big-picture__p {
    font-size: 12px;
    line-height: 20px;
  }
  .big_picture__after,
  .big-picture__after-red {
    display: none;
  }

  .triangles {
    bottom: -48px;
  }
  .red-triangle {
    top: 25px;
    border-right: 94vw solid transparent;
  }
  .footer__wrapper {
    flex-wrap: wrap;
  }
  .wrapper__item {
    padding: 30px;
    width: 90%;
    text-align: center;
    margin: auto;
  }

  .wrapper__item-icons {
    display: flex;
    flex-direction: row;
    width: 60%;
    margin: auto;
    flex-wrap: wrap;
  }
  .wrapper__item-icons a {
    margin-left: 30%;
    margin-bottom: 10px;
  }
  .wrapper__item-icons a:last-child {
    margin-right: 0;
  }

  .footer__form {
    width: 60%;
    margin: auto;
  }
  input[type="text"],
  input[type="email"],
  .button {
    padding: 9px;
    width: 100%;
    margin-bottom: 20px;
  }
}
