@media (min-width: 1025px) and (max-width: 1280px) {
    .row {
        width: 100%;
    }

    .grid__item-img__users {
        margin-left: 400px;
    }

    .article__wrapper {
        padding: 50px 30px 50px 30px;
    }

    .footer__form {
        margin-left: 15%;
    }

}

@media (min-width: 768px) and (max-width: 1024px) {
    .row {
        width: 100%;
    }

    .header__nav {
        width: 60%;
        margin-right: 5%;
    }

    .article__wrapper {
        padding: 100px 30px 100px 30px;
        flex-wrap: wrap;
    }

    .article__wrapper-item {
        margin-right: 0;
        width: 40%;
        margin-bottom: 50px;
    }

    .header__nav-ul li a {
        margin-right: 30px;
    }

    .grid-item__content {
        width: 50%;
    }

    .grid__item-img {
        width: 50%;
        background: url(img/grid-1-green.png) no-repeat;
        background-size: cover;
    }

    .grid__item-img__users {
        width: 30%;
        margin-left:150px;
    }

    .grid-second__item-img {
        width: 50%;
        background: url(img/grid-2-green.png) 75% no-repeat;
        background-size: cover;
        min-height: 394px;
    }

    .grid-second__item-img__users {
        width: 35%;
    }

    .grid-second__item-img__img {
        left: 0;
    }

    .first-row__item-first {
        width: 50%;
        background: url(img/grid-1-red.png) 100% no-repeat;
        background-size: cover;
    }

    .first-row__item-second {
        width: 50%;
        background: url(img/grid-2-red.png) 60% no-repeat;
        background-size: cover;
    }

    .item-second__second-p {
        margin-top: -5%;
    }

    .second-row__item-first {
        width: 50%;
    }

    .second-row__item-second {
        width: 50%;
    }

    .img-wrapper__first-img {
        width: 50%;
        background: url(img/grid-3-red.png) 70% no-repeat;
        background-size: cover;
    }

    .img-wrapper__second-img {
        width: 50%;
    }

    .content-wrapper__first-article {
        width: 50%;
    }

    .content-wrapper__second-article {
        width: 50%;
    }

    .first-article__sub-slogan img {
        margin-left: 0;
    }

    .triangles {
        bottom: -440px;
    }

    .red-triangle {
        display: none;
    }

    /*footer {*/
    /*padding-bottom: 100px; Теж не працює, довелось задавати падінг футер-форм*/
    /*}*/
    .footer__form {
        width: 80%;
        margin: auto;
        padding-bottom: 100px;
    }

    .footer__wrapper {
        flex-wrap: wrap;
    }

    .wrapper__icons {
        margin-top: 0;
    }

    .wrapper__item {
        width: 40%;
    }

    .wrapper__item-p {
        margin-bottom: 20px;
    }

    input[type="email"] {
        width: 201px;
    }

}

@media (min-width: 481px) and (max-width: 767px) {
    .row {
        width: 100%;
    }

    .header__nav-ul li a {
        margin-right: 5px;
        font-size: 10px;
    }

    .header__main-slogan {
        top: 45vh;
    }

    .header__nav {
        width: 60%;
    }

    article {
        padding: 0 50px 0 50px;

    }
    .article__wrapper {
        flex-wrap: wrap;
    }
    .article__wrapper-item {
        margin-right: 0;
        width: 40%;
        margin-bottom: 50px;
    }

    .grid-item__content {
        width: 50%;
    }

    .grid__item-img {
        width: 50%;
        background: url(img/grid-1-green.png) 20% no-repeat;
        background-size: cover;
    }

    .grid__item-img__users {
        width: 43%;
        margin-left:20px;
    }

    .grid-second__item-img {
        width: 50%;
        background: url(img/grid-2-green.png) 75% no-repeat;
        background-size: cover;
        min-height: 394px;
    }

    .grid__item-img__users {
        width: 36%;
        position: relative;
        bottom: -40em;
        margin-left: 80px;
    }

    .footer__form {
        margin-left: 20%;
    }
    .triangles {
        display: none;
    }
    .red-triangle {
        display: none;
    }
}

@media (min-width: 300px) and (max-width: 480px) {
    .row {
        width: 100%;
    }

    .header {
        background: url(img/top_logo.jpg) 50% no-repeat;
        background-size: cover;
    }

    .header-top__wrapper {
        width: 100%;
        margin-right: 14%;
        margin-bottom: 20px;
    }

    .header__wrapper {
        flex-wrap: wrap;
    }

    .header__nav {
        margin: auto;
        width: 100%;
    }

    .header__nav-ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 33%;
        margin: 0 auto;
    }

    .header__nav-ul li {
        display: block;
        width: 100%;
    }

    .header__nav-ul li a {
        margin-bottom: 10px;
    }

    .header__main-slogan {
        display: none;
    }

    .header__after {
        border-right: 95vw solid red;
    }

    .article__wrapper {
        padding-bottom: 0;
        flex-wrap: wrap;
    }

    .article__wrapper-item {
        width: 80%;
        text-align: center;
        margin: 0 auto;
        padding-bottom: 50px;
    }

    .article__wrapper-item:last-child {
        margin: auto;
    }

    .item__img {
        margin: 0 auto;
    }

    .item__header {
        margin-bottom: 10px;
    }

    .item__paragraph {
        margin-bottom: 10px;
    }

    .grid__item-img {
        display: none;
    }

    .grid-item__content {
        text-align: center;
        width: 100%;
        padding-bottom: 30px;
    }

    .grid-second__item-img {
        display: none;
    }

    .first-row__item-first {
        display: none;
    }

    .first-row__item-second {
        display: none;
    }

    .section__second-row {
        flex-wrap: wrap;
    }

    .second-row__item-first {
        padding-top: 20px;
        width: 100%;
        background-color: #ffffff;
        text-align: center;
    }

    .second-row__item-second {
        width: 80%;
        background-color: #a2ca28;
        text-align: center;
        margin: auto;
    }

    .second-row__item-second__slogan p {
        line-height: 1;
    }

    .img-wrapper__first-img,
    .img-wrapper__second-img {
        display: none;
    }

    .second-row__item-first__img {
        left: 90%;
    }

    .section-last__content-wrapper {
        flex-wrap: wrap;
    }

    .content-wrapper__first-article {
        width: 80%;
        margin: auto;
    }

    .first-article__img {
        bottom: 300px;
        left: 100%;
    }

    .first-article__sub-slogan {
        font-size: 25px;
    }

    .first-article__sub-slogan img {
        margin-left: 180px;
        margin-top: -122px;
    }

    .content-wrapper__second-article {
        width: 80%;
        margin: auto;
        display: flex;
    }

    .second-article__img {
        bottom: 300px;
        left: 90%;
    }

    .big-picture {
        min-height: 300px;
        padding-bottom: 20px;
    }

    .big-picture__slogan {
        margin-top: 30px;
        font-size: 20px;
    }

    .big-picture__p {
        font-size: 12px;
        line-height: 20px;
    }

    .big_picture__after,
    .big-picture__after-red {
        display: none;
    }

    .red-triangle {
        display: none;
    }

    /*footer {*/
    /*padding-bottom: 50px; не працює :) */
    /*}*/
    .footer__wrapper {
        flex-wrap: wrap;
    }

    .wrapper__item {
        padding: 30px;
        width: 90%;
        text-align: center;
        margin: auto;
    }

    .wrapper__item-icons {
        width: 100%;
        margin: auto;
        flex-wrap: wrap;
    }

    .footer__form {
        width: 60%;
        margin: auto;
        padding-bottom: 50px;
    }

    input[type="text"],
    input[type="email"],
    .button {
        padding: 9px;
        width: 100%;
        margin-bottom: 20px;
    }
}
