@media (min-width: 768px) and (max-width: 1024px) {
}

@media (min-width: 481px) and (max-width: 767px) {
  .header__wrapper {
    flex-direction: column;
    
  }
  .header-top__wrapper {
    margin-left: 33%;
  }
  .header__nav-ul li a{
    margin-right: 10px;
    line-height: 0;
  }
  .header__nav-ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 33%;
    margin: 0 auto;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
    .row {
        width: 100%;
    }
  .header-top__wrapper {
    width: 100%;
    margin-right: 14%;
    margin-bottom: 20px;
  }
  .header__wrapper {
    flex-wrap: wrap;
  }
 
  .header__nav {
    margin: auto;
    width: 100%;
  }
  .header__nav-ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 33%;
    margin: 0 auto;
  }
  .header__nav-ul li {
    display: block;
    width: 100%;
  }
  .header__nav-ul li a{
    margin-bottom: 10px;
  }
  .header__main-slogan {
    display: none;
  }
  .article__wrapper {
      padding-bottom: 0;
      flex-wrap: wrap;
  }
    .article__wrapper-item {
      width: 80%;
      text-align: center;
      margin: 0 auto;
      padding-bottom: 50px;
    }

    .item__img {
        margin: 0 auto;
    }
}
