/*main styles*/
* {
  box-sizing: border-box;
  /* outline:1px solid black; */
}

.container {
  width: 100%;
  margin: auto;
}

.row {
  width: 1180px;
  margin: 0 auto;
}

/*header*/
.header {
  /*до звичайного тегу header не примінявся flex)) перепровіряв*/
  background: url("img/top_logo.png") 100% no-repeat;
  background-size: cover;
  padding-top: 50px;
  min-height: 891px;
}

.header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 50px;
}

.header-top__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__nav-ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.header-wrapper__p {
  margin-left: 13px;
}

.header-wrapper__p p {
  font-family: AvenirNextRoundedStd;
  color: #ffffff;
  font-size: 24px;
  font-weight: 300;
  line-height: 24px;
  text-transform: uppercase;
}

.header-wrapper__p hr {
  background-color: #a2ca28;
  width: 38px;
  height: 3px;
  margin-left: 0px;
  border: none;
}

.header__nav-ul li a {
  margin-right: 60px;
  font-family: AvenirNextRoundedStd;
  color: #ffffff;
  font-size: 13px;
  line-height: 24px;
  text-align: right;
  text-decoration: none;
  text-transform: uppercase;
}

.header__main-slogan {
  width: 30%;
  position: relative;
  top: 480px; /*580/891= 65%* в % не працює*/
  left: 6%;/*100/1600px= 6%* а тут все ок*/
  font-family: AvenirNextRoundedStd;
  color: #ffffff;
  font-size: 39.97px;
  line-height: 69.938px;
  text-align: left;
  text-transform: uppercase;
}

.header__main-slogan span {
  font-family: AvenirNextRoundedStd;
  color: #a2ca28;
  font-size: 39.97px;
  line-height: 69.938px;
  text-align: left;
  transform: scaleY(1.0005);
}

.header__sub-slogan {
  width: 30%;
  font-family: OpenSans;
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
  line-height: 69.938px;
  text-align: left;
  position: relative;
  left:210px;
}
.header__sub-slogan span {
  font-family: OpenSans;
  color: #fd634e;
  font-size: 15px;
  font-weight: 700;
  line-height: 69.938px;
  text-align: left;
  transform: scaleY(1.0005);
}
