/*main styles*/
* {
  box-sizing: border-box;
  /*outline: 1px solid black;*/
}

.container {
  width: 100%;
}

.row {
  width: 1195px;
  margin: auto;
}

/*header*/
.header {
  /*до звичайного тегу header не примінявся flex)) перепровіряв*/
  background: url("img/top_logo.jpg") no-repeat;
  background-size: 100%;
  padding-top: 50px;
  min-height: 100vh;
}

.header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 50vh;
}

.header-top__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 50px;
  width: 10%;
}

.header__nav-ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.header-wrapper__p {
  margin-left: 13px;
}

.header-wrapper__p p {
  font-family: AvenirNextRoundedStd;
  color: #ffffff;
  font-size: 24px;
  font-weight: 300;
  line-height: 24px;
  text-transform: uppercase;
}

.header-wrapper__p hr {
  background-color: #a2ca28;
  width: 38px;
  height: 3px;
  margin-left: 0px;
  border: none;
}

.header__nav-ul li a {
  margin-right: 60px;
  font-family: AvenirNextRoundedStd;
  color: #ffffff;
  font-size: 13px;
  line-height: 24px;
  text-align: right;
  text-decoration: none;
  text-transform: uppercase;
}

.header__main-slogan {
  width: 30%;
  margin-left: 10vw;
  font-family: AvenirNextRoundedStd;
  color: #ffffff;
  font-size: 39.97px;
  line-height: 69.938px;
  text-align: left;
  text-transform: uppercase;
}

.header__main-slogan span {
  font-family: AvenirNextRoundedStd;
  color: #a2ca28;
  font-size: 39.97px;
  line-height: 69.938px;
  text-align: left;
  transform: scaleY(1.0005);
}

.header__sub-slogan {
  width: 30%;
  font-family: OpenSans;
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
  line-height: 69.938px;
  text-align: left;
  position: relative;
  left: 210px;
  top: -15px;
}

.header__sub-slogan span {
  font-family: OpenSans;
  color: #fd634e;
  font-size: 15px;
  font-weight: 700;
  line-height: 69.938px;
  text-align: left;
  transform: scaleY(1.0005);
}

/*.header:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    border-right: 100vw solid rgba(255, 0, 0, 0.3);
    border-top: 85px solid transparent;
    border-bottom: 30px solid rgba(255, 0, 0, 0.3);
}*/

/*article*/
article {
  width: 100%;
  background-color: #a2ca28;
  /*padditng top/bottom не працюють через те, що не задана фіксована висота?*/
}

.article__wrapper {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: left;
}

.article__wrapper-item {
  margin-right: 39px;
}

.item__img {
  width: 45px;
  height: 45px;
  margin-bottom: 23px;
}

.item__header {
  font-family: OpenSans;
  color: #0a1f3f;
  font-size: 24px;
  font-weight: 400;
  line-height: 54px;
  text-align: left;
  transform: scaleY(1.002);
  margin-bottom: 39px;
}

.item__paragraph {
  font-family: ProximaNova;
  color: #8297a7;
  font-size: 13.99px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  transform: scaleX(1.0007);
  margin-bottom: 29px;
}

.item__link a {
  text-decoration: none;
  font-family: ProximaNova;
  color: #00aeef;
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
}

/*first grid__wrapper*/

.grid__wrappper {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.grid__wrapper-item {
  display: flex;
  flex-direction: row;
}

.grid-item__content {
  text-align: center;
  width: 40%;
}

.grid-item__first-slogan {
  margin-top: 100px;
  margin-bottom: 13px;
  text-transform: uppercase;
  font-family: Montserrat;
  color: #fd634e;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.grid-item__second-slogan {
  font-family: OpenSans;
  text-transform: uppercase;
  color: #a2ca28;
  font-size: 35px;
  font-weight: 300;
  line-height: 30px;
  text-align: center;
  margin-bottom: 23px;
}

.grid__item-logo {
  margin-bottom: 25px;
}
.grid__item-article {
  width: 62%;
  margin: auto;
  font-family: OpenSans;
  color: #656e74;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}
.grid__item-link {
  margin-top: 10px;
}
.grid__item-link a {
  color: #a2ca28;
  font-family: OpenSans;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}

.grid__item-img {
  width: 60%;
  background: url("img/grid-1-green.png") 100% no-repeat;
  background-size: cover;
}

/*.active-users {*/
/*height: 47px;*/
/*line-height: 32px;*/
/*position: relative;*/
/*padding-left: 40px;*/
/*color: #f7614c;*/
/*bottom: 50px;*/
/*left: 600px;*/
/*}*/

/*second grid*/

.grid-second__wrappper {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.grid-second__item-img {
  width: 60%;
  background: url("img/grid-2-green.png") 100% no-repeat;
  background-size: cover;
}

/*first section*/
section {
  width: 100%;
  background-color: #fd634e;
}
.section__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.section__first-row {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.first-row__item-first {
  width: 40%;
  background: url("img/grid-1-red.png") 100% no-repeat;
  background-size: cover;
  min-height: 330px;
}
.first-row__item-second {
  width: 60%;
  background: url("img/grid-2-red.png") 100% no-repeat;
  background-size: cover;
  min-height: 330px;
}

.section__second-row {
  width: 100%;
  display: flex;
  flex-direction: row;
}
/* second-row__item-first */

.second-row__item-first {
  padding-top: 50px;
  width: 40%;
  background-color: #ffffff;
  text-align: left;
}

.second-row__item-first__content {
  padding: 50px;
}
.second-row__item-first__main-slogan {
  font-family: Montserrat;
  color: #fd634e;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-transform: uppercase;
}
.second-row__item-first__sub-slogan {
  font-family: OpenSans;
  color: #a2ca28;
  font-size: 35px;
  font-weight: 300;
  line-height: 30px;
  text-transform: uppercase;
}

.second-row__item-first__p {
  font-family: OpenSans;
  color: #656e74;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}

/* second-row__item-second */
.second-row__item-second__content {
  padding: 50px;
}

.second-row__item-second {
  padding-top: 50px;
  width: 60%;
  background-color: #a2ca28;
}

.second-row__item-second__slogan {
  font-family: OpenSans;
  color: #ffffff;
  font-size: 40px;
  font-weight: 300;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.second-row__item-second__p {
  font-family: OpenSans;
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
}

/*last section*/
.section-last {
  width: 100%;
}

.section-last__img-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.img-wrapper__first-img {
  width: 60%;
  background: url("img/grid-3-red.png") 100% no-repeat;
  background-size: cover;
  min-height: 359px;
}
.img-wrapper__second-img {
  width: 40%;
  background: url("img/grid-4-red.png") 100% no-repeat;
  background-size: cover;
  min-height: 359px;
}

.section-last__content-wrapper {
  display: flex;
  flex-direction: row;
}

.content-wrapper__first-article {
  background-color: #ffffff;
  width: 60%;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  padding: 25px;
}
.first-article__main-slogan {
  font-family: Montserrat;
  color: #fd634e;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.first-article__sub-slogan {
  font-family: OpenSans;
  color: #a2ca28;
  font-size: 35px;
  font-weight: 300;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.first-article__p {
  font-family: OpenSans;
  color: #656e74;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}

.content-wrapper__second-article {
  background-color: #a2ca28;
  width: 40%;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  padding: 25px;
}

.second-article__main-slogan {
  font-family: Montserrat;
  color: #ffffff;
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  text-transform: uppercase;
  margin-bottom: 11px;
}
.second-article__sub-slogan {
  font-family: OpenSans;
  color: #ffffff;
  font-size: 35px;
  font-weight: 300;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.second-article__p {
  font-family: OpenSans;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}
/*big picture*/
.big-picture {
  background: url("img/footer-img.png") 100% no-repeat;
  background-size: cover;
  min-height: 802px;
}

.big-picture__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 50%;
  margin: auto;
}

.big-picture__slogan {
  margin-top: 100px;
  margin-bottom: 25px;
  font-family: OpenSans;
  color: #ffffff;
  font-size: 45px;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
}

.big-picture__p {
  font-family: OpenSans;
  color: #ffffff;
  font-size: 16px;
  line-height: 23px;
}

/*footer*/
footer {
  width: 100%;
  background-color: #0d1119;
}

.footer__wrapper {
  display: flex;
  flex-direction: row;
  text-align: left;
  justify-content: center;
  width: 100%;
}

.wrapper__item {
  margin-top: 30px;
  padding: 20px;
}

.wrapper__item-slogan {
  font-family: OpenSans;
color:  #ffffff;
font-size: 15px;
font-weight: 400;
line-height: 12px;
text-transform: uppercase;
margin-bottom: 29px;
}
.wrapper__item-p {
  font-family: OpenSans;
color:  #8297a7;
font-size: 14px;
font-weight: 400;
line-height: 24px;
margin-bottom: 50px;
}

.wrapper__item-icons a {
  text-decoration: none;
  margin-right: 10px;
}